azure-storage-blob==12.14.1
azure-search-documents==11.3.0
ConfigArgParse==1.5.3
feedparser==6.0.10
graphviz==0.20.1
mattermostdriver==7.3.2
pypandoc==1.11
pyinotify==0.9.6
pymisp==2.4.168
pyOpenSSL==23.0.0
PyYAML==6.0
requests==2.31.0
tweepy==4.10.1
