azure-storage-blob==12.14.1
azure-search-documents==11.3.0
beautifulsoup4==4.12.2
ConfigArgParse==1.5.3
feedparser==6.0.10
graphviz==0.20.1
mattermostdriver==7.3.2
paramiko==3.3.1
pyOpenSSL==23.2.0
pypandoc==1.11
PyYAML==6.0.1
Requests==2.31.0
urllib3==1.26.15
weasyprint==59.0
